# How to Install Python

Go to page: https://www.python.org/. Download the installer, and install it :)

Supported platforms:

* Windows
* Macos
* Linux

# Which IDE should I use?

There are serveral options:
* Jupyter Lab or Jupyter Notebook (Recommended)
* Visual Studio Code (VSC)
* Pycharm
* IDLE (definitely not recommended!)

# How to install Jupyeter Lab
There are two ways:
1. Install Jupyter Lab using conda or pip

    ref 1: https://jupyterlab.readthedocs.io/en/stable/getting_started/installation.html

    ref 2:https://pypi.org/project/jupyterlab/


2. Install anaconda from official site
    
    ref : https://www.anaconda.com/

# Let's write some code!

### 1. Types

In [1]:
# int 
a = 2
print('a =', a)

a_2 = int('2')
print(a, type(a_2))

a = 2
2 <class 'int'>

In [2]:
# float
b = float(2.0)
c = 2.0
print(f"type of b is {type(b)}, and type of c is {type(c)}")

type of b is <class 'float'>, and type of c is <class 'float'>

In [3]:
# complex 
d = 1 + 2j
print(d)
print("type of d is %s" % type(d))

(1+2j)
type of d is <class 'complex'>

In [4]:
# string
name = 'Ali'
print('name =', name, type(name))

name = Ali <class 'str'>

In [5]:
friend = "Ahmad"
print(friend, type(friend))

Ahmad <class 'str'>

In [6]:
mulitLine = """To be or not to be
Hamlet, Act 3, Scene 1"""

print(mulitLine, type(mulitLine))

To be or not to be
Hamlet, Act 3, Scene 1 <class 'str'>

In [7]:
multiLine2 = '''Ana karenina,
By Leo Tolstoy'''
print(multiLine2, type(multiLine2))

Ana karenina,
By Leo Tolstoy <class 'str'>

In [27]:
# string concat
name = 'Arman'
print('My name is ' + name)

print('My age is ' + str(24))

print('_'.join(['1', '2', '3', '4']))

# int + string
print(12 + int('24'))

My name is Arman
My age is 24
36

In [9]:
# list:  collection, ordered, changeable, accept duplicates
grocery_list = ['orange',
                'potato',
                'tomato']
print('grocery list =', grocery_list)

grocery list = ['orange', 'potato', 'tomato']

In [11]:
weird_list = [1, 'Ali', [1, 2, 3]]
print(weird_list)
print(len(weird_list))
print(weird_list[0])
print(weird_list[0:2])
print(weird_list[-1])
print(weird_list[-2:-1])

weird_list.append('hello')
print(weird_list)

weird_list.insert(1,'salam')
print(weird_list)

weird_list.extend([4, 5]) # or simply weird_list + [4, 5]
print(weird_list)


weird_list.remove('Ali')
print(weird_list)

weird_list.pop(2)
print(weird_list)

weird_list.pop()
print(weird_list)

weird_list.clear()
print('weird_list: ', weird_list)

[1, 'Ali', [1, 2, 3]]
3
1
[1, 'Ali']
[1, 2, 3]
['Ali']
[1, 'Ali', [1, 2, 3], 'hello']
[1, 'salam', 'Ali', [1, 2, 3], 'hello']
[1, 'salam', 'Ali', [1, 2, 3], 'hello', 4, 5]
[1, 'salam', [1, 2, 3], 'hello', 4, 5]
[1, 'salam', 'hello', 4, 5]
[1, 'salam', 'hello', 4]
weird_list:  []

In [12]:
a = [1, 2, 3, 4, 5, 6]
b = [2 * i for i in a if i % 2 == 0]
b

[4, 8, 12]

In [13]:
a = [1, 2, 3, 4, 5, 6]
a.sort(reverse=True)
print(a)

a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]

In [14]:
# Sort the list based on how close the number is to 50
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [15]:
# copy list
a = [1, 2, 3, 4, 5, 6]
b = a.copy()
print('b: ', b)

c = list(a)
print('c: ', c)

b:  [1, 2, 3, 4, 5, 6]
c:  [1, 2, 3, 4, 5, 6]

In [16]:
a = [1, 2, 3, 4, 5, 6, 6, 6 , 6]
print(a.count(6))
print(a.index(6))

4
5

In [17]:
# tuple: collection, ordered, unchangeable, accept duplicates
tup = (1, 2, 3)
print(type(tup))

<class 'tuple'>

In [18]:
# dict: collection, unordered, changeable, indexed, No duplicate members
d_1 = {'name': 'Ali',
       'id': 1234,
       'hobbies':['jugging', 'cycling']}
print(d_1)

{'name': 'Ali', 'id': 1234, 'hobbies': ['jugging', 'cycling']}

In [19]:
# set: collection, unordered and unindexed,  No duplicate members
l = [1, 2, 3, 3]
s1 = set(l)

t = (1, 2, 3, 3)
s2 = set(t)

print(f's1 : {s1}, s1: {s2}')

s1 : {1, 2, 3}, s1: {1, 2, 3}

In [20]:
# bool
isTerminal = False
print(isTerminal)

False

### 2. Arithmetic operators

In [21]:
# *, /, +, - , //, %, **
print('2 * 2 =', 2 * 2)
print('4/3 =', 4 / 3)
print('4 // 3 =', 4 // 3)
print('4 % 3 =', 4 % 3)
print('2 ** 3 =', 2 ** 3)

2 * 2 = 4
4/3 = 1.3333333333333333
4 // 3 = 1
4 % 3 = 1
2 ** 3 = 8

### 3. Assignment operators

In [22]:
# {arthmetic ops} + '='
a = 1
a += 1 # a = a + 1
print(a)

2

### 4. Comparison operators

In [23]:
# ==, !=, >, <, <=, >=
print(2 == 2)
print(2 != '2')
print(3 >= 4)

True
True
False

### 5. Logical operators

In [24]:
# and, or, not
print (2 > 1 and 3 > 2)
print (not (2 > 1 and 3 > 2))

True
False

### 6. Membership operators

In [25]:
# in, not in
grades = [2, 3, 4]
if 2 in grades:
    print('we have 2!')
    
if 5 not in grades:
    print('we do not have 5 :(')

we have 2!
we do not have 5 :(

### 7.Bitwise operators

In [26]:
'''
& : AND
| : OR
^ : XOR
~ : NOT
'''

# 5 : 0101 
# 3 : 0011

print(5 & 3)

1